git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
wget -O - https://yt-dl.org/downloads/latest/youtube-dl | sudo tee /usr/local/bin/youtube-dl >/dev/null
sudo chmod a+x /usr/local/bin/youtube-dl
